<div class="delete_message">

  <p>Are you sure you want to delete <%= @deleting_merchant.name %> from Merchants?</p>

  <p>All transactions linked to this <%= @deleting_merchant.name %> will also be deleted.</p>

</div>


<form class="delete_form" action="/merchants/<%= @deleting_merchant.id %>/delete/" method="post">

  <input type="submit" value="CONFIRM DELETE">

</form>
