<h1>Edit Merchant</h1>

<p class="current_thing">Current Merchant Name: <%= @specified_merchant.name %></p>

<form action="/merchants/<%= @specified_merchant.id %>" method="post">

  <label for="merchant_name">Enter New Merchant Name:</label>
  <br>
  <input id="merchant_name" type="text" name="name">
  <br>
  <input type="submit" value="UPDATE MERCHANT">

</form>
