<h1>Edit Merchant</h1>

<h4>Current Merchant:</h4>

<p class="current_thing"><%= @specified_merchant.name %></p>

<h4>Enter Changes to Merchant:</h4>

<form action="/merchants/<%= @specified_merchant.id %>" method="post">

  <label for="merchant_name">New Merchant Name:</label>
  <br>
  <input id="merchant_name" type="text" name="name" required>
  <br>
  <input type="submit" value="UPDATE MERCHANT">

</form>
