<h1>Saved Merchants</h1>
<% for merchant in @all_merchants %>
  <ul>
    <li><%= merchant.name %></li>
    <li><a href="/merchants/<%= merchant.id %>">View</a></li>
  </ul>
<% end %>

<p><a href="/merchants/new">Add Merchant</a></p>
