<h1>New Merchant</h1>

<form class="" action="/merchants" method="post">

  <label for="merchant_name">Merchant Name</label>
  <input id="merchant_name" type="text" name="name">

  <input type="submit" value="ADD MERCHANT">

</form>
