<h1>New Merchant</h1>

<form class="new_form" action="/merchants" method="post">

  <label for="merchant_name">Enter Merchant Name:</label>
  <br>
  <input id="merchant_name" type="text" name="name">
  <br>
  <input type="submit" value="ADD MERCHANT">

</form>
