<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spending Tracker</title>
  </head>
  <body>
    <%= yield %>
    <nav>
      <ul>
        <li><a href="/transactions">Transactions</a></li>
        <li><a href="/merchants">Merchants</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
  </body>
</html>
