<div class="delete_message">

  <p>Are you sure you want to delete <%= @deleting_category.type %> from Categories?</p>

  <p>All transactions linked to <%= @deleting_category.type %> will also be deleted.</p>

</div>

<form class="delete_form" action="/categories/<%= @deleting_category.id %>/delete/" method="post">

  <input type="submit" value="CONFIRM DELETE">

</form>

<p id="add_button"><a href="/categories/<%= @deleting_category.id %>">DO NOT DELETE</a></p>
