<h1>Edit Category</h1>

<h4>Current Category:</h4>

<p class="current_thing"><%= @specified_category.type %></p>

<h4>Enter Changes to Category:</h4>

<form class="" action="/categories/<%= @specified_category.id %>" method="post">

  <label for="category_type">New Category Type:</label>
  <br>
  <input id="category_type" type="text" name="type" required>
  <br>
  <input type="submit" value="UPDATE CATEGORY">

</form>
