<h1>Categories</h1>

<p class="explainer">Choose a Category to expand:</p>

<% for category in @all_categories %>
  <ul class="mer_cat_ul">
    <li><a href="/categories/<%= category.id %>"><%= category.type %></a></li>
  </ul>
<% end %>

<p id="add_button"><a href="/categories/new">Add Category</a></p>
