<h1>Categories</h1>

<% for category in @all_categories %>
  <ul>
    <li><%= category.type %></li>
    <li><a href="/categories/<%= category.id %>">View</a></li>
  </ul>
<% end %>

<a id="add_button" href="/categories/new">Add Category</a>
