.budgets_grid {
  margin: 20px auto;
  display: grid;
  grid-column-gap: 5%;
  grid-row-gap: 20px;
  grid-template-columns: 21.25% 21.25% 21.25% 21.25%;
  width: 75%;
}

.grid_item ul {
  list-style-type: none;
  padding: 5px;
  border: 2px solid black;
}

.grid_item * {
  background-color: #091540;
}

.grid_item li {
  padding: 10px;
}

.grid_item ul:hover {
  background-color: white;
}

.overviews_grid {
  margin: 20px auto;
  display: grid;
  grid-column-gap: 5%;
  grid-row-gap: 20px;
  grid-template-columns: 21.25% 21.25% 21.25% 21.25%;
  width: 75%;
}

.overview_grid_item ul {
  list-style-type: none;
  padding: 5px;
  border: 2px solid black;
}

.overview_grid_item_good ul {
  list-style-type: none;
  padding: 5px;
  border: 2px solid black;
}

.overview_grid_item_good * {
  background-color: #006E51;
}

.overview_grid_item_good li {
  padding: 10px;
}

.overview_grid_item_bad ul {
  list-style-type: none;
  padding: 5px;
  border: 2px solid black;
}

.overview_grid_item_bad * {
  background-color: #cc0000;
}

.overview_grid_item_bad li {
  padding: 10px;
}

.month {
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
  color: black;
}
