* {
  background-color: #353F62;
  padding: 0;
  margin: 0;
  font-family: Verdana;
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
}

.explainer {
  margin-bottom: 30px;
  padding: 5px;
  background-color: white;
  font-style: italic;
  color: black;
}

.no_transactions {
  padding: 20px;
}

/* NAV BAR ON EVERY PAGE */

nav ul {
    list-style-type: none;
    background-color: #091540;
}

nav li {
  display: inline-block;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    background-color: #091540;
}

nav li a:hover {
  background-color: white;
  color: #091540;
}

/* TITLES */

h1 {
  display: block;
  color: white;
  background-color: black;
  padding: 10px;
}

h4 {
  background-color: white;
  color: black;
  padding: 10px;
}

/* MERCHANT AND CATEGORY INDEX */

.mer_cat_ul li {
  display: inline-block;
}

.mer_cat_ul li a {
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  background-color: #091540;
  margin: 10px;
  color: white;
  min-width: 200px;
}

.mer_cat_ul li a:hover {
  background-color: white;
  color: #091540;
}

.mercat_box {
  height: 400px;
  overflow: scroll;
}

/* ADD A THING BUTTONS */

#add_button a {
  background-color: #006E51;
  color: white;
  padding: 5px;
  border: solid 2px black;
  margin-top: 2px;
  font-size: 30px;
}

#add_button a:hover {
  background-color: white;
  color: #006E51;
}

/* SMALL YEAR SELECT BUTTONS */

.year_select ul {
  list-style-type: none;
  margin-top: 10px;
}

.year_select ul li {
  display: inline-block;
}

.year_select ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  background-color: #ABD2FA;
  font-weight: bold;
}

.year_select ul li a:hover {
  background-color: black;
  color: #ABD2FA;
}

/* YEAR SELECT BUTTONS FOR OVERVIEW & BUDGET */

.bigger_year_select {
  width: 100%;
  margin: auto;
}

.bigger_year_select ul {
  list-style-type: none;
  margin: 30px auto;
}

.bigger_year_select ul li {
  display: inline-block;
  margin: 10px;
}

.bigger_year_select ul li a {
  display: block;
  color: black;
  padding: 50px 100px;
  text-decoration: none;
  background-color: #ABD2FA;
  font-weight: bold;
  font-size: 2em;
  border: 2px solid black;
}

.bigger_year_select ul li a:hover {
  background-color: black;
  color: #ABD2FA;
}

/* MONTH SELECT BUTTONS */

.month_select ul {
  list-style-type: none;
  margin-top: 10px;
}

.month_select ul li {
  display: inline-block;
}

.month_select ul li a {
  display: block;
  color: #ABD2FA;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  background-color: black;
}

.month_select ul li a:hover {
  background-color: #ABD2FA;
  color: black;
}

/* SUMMARY BOXES */

.total_spend {
  padding: 10px;
  background-color: black;
  display: inline-block;
  margin: 10px;
  border: 2px solid white;
}

.total_spend h4 {
  background-color: black;
  text-decoration: underline;
  color: white;
  padding: 5px;
}

.total_spend p {
  background-color: black;
  color: white;
  padding: 5px;
}

.total_budget {
  padding: 10px;
  background-color: white;
  display: inline-block;
  margin: 10px;
  border: 2px solid black;
}

.total_budget h4 {
  background-color: white;
  text-decoration: underline;
  color: black;
  padding: 5px;
}

.total_budget p {
  background-color: white;
  color: black;
  padding: 5px;
}

.difference_good {
  padding: 10px;
  background-color: #006E51;
  display: inline-block;
  margin: 10px;
  border: 2px solid black;
}

.difference_good h4 {
  background-color: #006E51;
  text-decoration: underline;
  color: black;
  padding: 5px;
}

.difference_good p {
  background-color: #006E51;
  color: black;
  padding: 5px;
}

.difference_bad {
  padding: 10px;
  background-color: #cc0000;
  display: inline-block;
  margin: 10px;
  border: 2px solid black;
}

.difference_bad h4 {
  background-color: #cc0000;
  text-decoration: underline;
  color: black;
  padding: 5px;
}

.difference_bad p {
  background-color: #cc0000;
  color: black;
  padding: 5px;
}

/* TRANSACTION SHOW BOXES */

.transaction {
  margin-bottom: 30px;
}

.transaction * {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.transaction ul {
  list-style-type: none;
  margin-top: 10px;
  display: inline-block;
}

.transaction ul li {
  padding: 10px;
  font-size: 20px;
}

.show_budget {
  padding: 20px;
  font-size: 30px;
}
