* {
  background-color: #353F62;
  padding: 0;
  margin: 0;
  font-family: Verdana;
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
}



.explainer {
  margin-bottom: 30px;
  padding: 5px;
  background-color: white;
  font-style: italic;
  color: black;
}

/* NAV BAR ON EVERY PAGE */

nav ul {
    list-style-type: none;
    background-color: #091540;
}

nav li {
  display: inline-block;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    background-color: #091540;
}

nav li a:hover {
  background-color: white;
  color: #091540;
}

/* TITLES */

h1 {
  display: block;
  color: white;
  background-color: black;
  padding: 10px;
}



.mer_cat_ul li {
  display: inline-block;
}

.mer_cat_ul li a {
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  background-color: #091540;
  margin: 10px;
  color: white;
}

.mer_cat_ul li a:hover {
  background-color: white;
  color: #091540;
}





#add_button a {
  background-color: green;
  color: white;
  padding: 5px;
  border: solid 2px black;
  margin-top: 2px;
  font-size: 30px;
}

#add_button a:hover {
  background-color: white;
  color: green;
}
