<h1>Edit Budget</h1>

<h4>Current Budget:</h4>
<ul>
  <li><%= @specified_budget.year %></li>
  <li><%= @specified_budget.month_name %></li>
  <li><%= @specified_budget.budget %></li>
</ul>

<form class="" action="/budgets/<%= @specified_budget.id %>" method="post">

  <label for="budget">New Budget:</label>
  <input id="budget" type="number" name="budget">

  <input type="submit" value="UPDATE BUDGET">

</form>
