<h1>Monthly Budgets</h1>

<% for budget in @all_budgets %>
  <ul>
    <li><%= budget.month %></li>
    <li><%= budget.budget %></li>
    <li><a href="/budgets/<%= budget.id %>">View</a></li>
  </ul>
<% end %>
