<h1><%= @specified_budget.year %></h1>
<h1><%= @specified_budget.month_name %> Budget</h1>
<h2><%= @specified_budget.budget %></h2>

<p><a href="/budgets/<%= @specified_budget.id %>/edit">EDIT BUDGET</a></p>
